.jumbotron {
    background-image: url("../images/swanson-pyramid-of-greatness.png");
    background-repeat: no-repeat;
    background-color: white;
    height: 615px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    padding: 20px 0px 20px 0px;
}

.nav-item, .nav-link {
    color: black;
}

.body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: 'Faster One', sans-serif;
}

button {
    margin-right: 10px;
    margin-bottom: 10px;
}